{% if count %}
    <center>
    <label for="newModuleName" class="col-12" style="color:white">Enter module name</label>
    </center>
    <br>
    <input type="text" id="newModuleName" class="col-8 input-size" placeholder="Enter module name">
    <input type="number" id="newModuleHours" placeholder="hours" class="col-3 input-size">
    <button type="button" class="btn btn-success plus" id="plus"> + </button>
    <button type="button" class="btn btn-danger minus" id="minus"> - </button>
{% endif %}


